:root {
  --color-white: #ffffff;
  --color-dark-gray: #444440;
  --color-gray: #7e7e7b;
  --color-silver: #b9c9c7;
  --color-bisque: #f1dec8;
}

/* ------------------------------------*|
  #SCSS-variables
/*------------------------------------ */
